#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

span.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1px;
}

.product {
  flex: 0 1 calc(33.33% - 20px); /* Adjust the width as needed, minus margin */
  margin-bottom: 20px; /* Adjust the margin between products */
  position: relative;
}

.product-box {
  border: 3px solid ; /* 3px border around each product */
  border-radius: 10px;
  padding: 10px; /* Add padding for spacing inside the box */
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
  background-color:rgb(218, 218, 218);
}

.product img {
  max-width: 100%; /* Limit the image width to the container */
  height: auto;
  border-radius: 10px;
  border: 3px solid
}

/* You can further style the product titles and prices as needed */
.product h3, .product p {
  margin: 10px 0;

}
.product p{
  font-size: x-large;
}
.product h3{
  font-size:large ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Media query to change the layout on larger screens */
@media (min-width: 1024px) {
  .product {
    flex: 0 1 calc(33.33% - 20px); /* Display three products per row on larger screens */
  }
}

.new-price{
  font-size: 25px;
  margin-left: 10px;
}

.old-price {
  text-decoration: line-through;
  color: red;
  font-size: 25px;
}

.product button{
  margin-bottom: 20px;
}

.inner{
  margin-left: 10px;
  font-size: large;
}

.order-button { 
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
 }
 

 
 .order-button:hover {
    background-color: rgb(56, 197, 56);
    
 }
	

@media screen and (max-width: 1680px) {

  body, input, select, textarea {
    font-size: 14pt;
  }

}

@media screen and (max-width: 1280px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}
